*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

.header-container {
    position: relative;
    align-items: center;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.carTable {
    padding: 0;
    width: 100% auto;
    height: 100% auto;
}

#editButton, #deleteButton {
    height: 50px;
    width: 50px;
    border-width: 0;
    background: none;
    cursor: pointer;
    border: none;
}
#deleteIcon,#atIcon{
    height:26px;
    width: 26px;
}
td, th {
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
    text-transform: uppercase;
    color: white;
	background-color:#fc6500b6;
    border-radius: 3px;
}

tr {
    transition: 0.4s;
}

.lupaContainer {
    display:flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

input {
    border-radius: 5px;
    width: 80%;
}

.modal-bg {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.modalDeleteBg {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

#modal-container {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    width: 40%;
    margin: 50px auto;
    background-color: white;
    border-radius: 6px;
    flex-wrap: wrap;
    z-index: 100;
    padding: 15px;
    transform: translateY(-120%);
    transition: all 0.3s;
}

#modalDeleteContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    left:0;
    right: 0;
    width: 30%;
    margin: 50px auto;
    background-color: white;
    border-radius: 6px;
    z-index: 100;
    transform: translateY(-800%);
    transition: all 0.3s;
}

#modalDeleteContainer button {
    margin: 15px;
    height: 25px;
    width: 60px; 
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.4s;

}

#ButtonYes {
    background-color: rgba(255, 5, 5, 0.623);
}

#ButtonNo {
    background-color: rgba(67, 67, 238, 0.63);
}

#modalDeleteContainer a {
    font-weight: 600;
    font-size: 18px;
}

.closeBtnModal {
    color: white;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #f87117;
    cursor: pointer;
}

.closebutton {
    color: white;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #f87117;
    cursor: pointer;
}
.containerForm {
    max-width: 700px;
    width: 100%;
    background:white;
    padding: 15px 25px;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: 500px;
    text-align: center;
}

.containerForm form .carDetails {
    display: inline;
    justify-content: space-between;
}

form .carDetails .inputBox {
    padding-bottom: 20px;
    padding-top: 5px;
}

.carDetails .inputBox input {
    height: 25px;
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}
textarea {
    font-family: roboto;
    display: flex;
    border: 2px solid #E6E6E6;
    border-radius: 5px;
    justify-content: center;
    width: 100%;
    height: 60px;
    resize: none;
}
.carDetails .inputImg {
    display:flex;
    padding:5px;
    align-items: center;
}

form .editButton {
    height: 40px;
    margin: 10px 0;
}

form #buttonFormId {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    /* espaço entre as letras */
    text-transform: uppercase;
    background: #fd7820d3;
    cursor: pointer;
    transition-duration: 0.4s;
}
#modalNewCarRegister {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    /* espaço entre as letras */
    text-transform: uppercase;
    background: #fd7820d3;
    cursor: pointer;
    transition-duration: 0.4s;
}

form .editButton button:hover {
    background:#FC6500;
    color: #ffffff;
    letter-spacing: 2px;
}
input[type='file']{
    display: none;
}

.inputImg label {
    background-color: #fd7820d3;
    color: #ffffff;
    width: 190px;
    height: 25px;
    text-transform: uppercase;
    text-align: center;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    transition-duration: 0.4s;
    font-size: 14px;
}

.inputImg label:hover {
    letter-spacing: 2px;
    background-color: #FC6500;
}

.inputImg strong,span {
    font-size: 14px;
    color: #00000081;
    
}

input::placeholder {
    font-family: roboto;
    font-size: 15px;
    color: #9A9A9A;
    width: 500px;
    padding-left: 10px;
    padding-right: 20px;
    
}

.buttonAdd:hover {
    background-color: #FC6500;
}
.buttonAdd {
    color: #fff;
    text-align: center;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #fd7820d3;
    text-transform: uppercase;
    transition: 0.4s;
    border: 0;
    padding: 10px;
}

#modalNewCarBg {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

#modalNewCarContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left:0;
    right: 0;
    width: 40%;
    margin: 50px auto;
    background-color: white;
    border-radius: 6px;
    z-index: 100;
    transform: translateY(-600%);
    transition-duration: 0.5s;
}

@media (max-width: 600px) {
    td {
        font-size: 19px;
    }
}