*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #FC6500, white);
}



.containerForm {
    max-width: 700px;
    width: 100%;
    background:white;
    padding: 15px 25px;
    border-radius: 10px;
}

.containerForm .title {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.containerForm form .carDetails {
    display: inline;
    justify-content: space-between;

}

form .carDetails .inputBox {
    padding-bottom: 20px;
    padding-top: 5px;
}

.carDetails .inputBox input {
    height: 25px;
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.carDetails .inputImg {
    display:flex;
    padding:5px;
    align-items: center;
}

form .SubmitForm {
    height: 40px;
    margin: 10px 0;
}

form .SubmitForm button {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    /* espaço entre as letras */
    text-transform: uppercase;
    background: #fd7820d3;
    cursor: pointer;
    transition-duration: 0.4s;
}

form .SubmitForm button:hover {
    background:#FC6500;
    color: #ffffff;
    letter-spacing: 2px;
}
input[type='file']{
    display: none;
}

.inputImg label {
    background-color: #fd7820d3;
    color: #ffffff;
    width: 190px;
    height: 25px;
    text-transform: uppercase;
    text-align: center;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    transition-duration: 0.4s;
    font-size: 14px;
}

.inputImg label:hover {
    letter-spacing: 2px;
    background-color: #FC6500;
}

.inputImg strong,span {
    font-size: 14px;
    color: #00000081;
    
}
    @media (max-width:500px) {
        .containerForm {
        width: 80%;
    }
}